* {
  margin:0;
  padding:0;
}

/* Cherry blossom photo header */
.header img {
  width: 100%; 
  height: auto;
}

.header {
  margin-bottom: 0;
}

/* description of About us */
.introduction {
  margin-bottom: 30px;
}


/* iamges and descriotion of staff */
.staffimages {
  width: 80%;
  height: auto;
}


.staff {
  background-color: #937B69;
  color: aliceblue;
  font-family: 'Cherry Swash', cursive;
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  row-gap: 10px;
  column-gap: 5px;
  grid-gap: 10px;  
  margin-left: 20px;
}

.grid-item {
  display: block;
}

.grid-item img {
  width: 80%; 
  height: auto;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,247,247,0.5);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* specifies the stack order of an element */
/* } */ 

/* .nav-li ul {
  list-style: none;
  overflow: hidden;
}

.nav-li li {
  display: inline;
  margin: 20px;
}

.nav-li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

nav {
  justify-content: space-between;
} */


/* Set the size of each device. */
/* mobile size */
@media screen and (max-width: 480px) {
  .grid-container {
  grid-template-columns:1fr;
  text-align: center;}

  .staff {
    text-align: center;
  }
}
  /* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,247,247,0.5);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* specifies the stack order of an element */
  /* }

  .nav-li ul {
    list-style: none;
    overflow: hidden;
  }

  .nav-li li {
    display: inline;
    margin: 20px;
  }

  .nav-li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  footer {
    text-align: center;
    background-color: #fff7f7;
}

.footer-li ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
}

.footer-li li {
    display: inline;
    margin: 10px;
}

.footer-li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
} */ 



/* tablet size */
@media screen and (max-width: 1024px) {
  
  .grid-container {
  grid-template-columns:1fr 1fr;
  text-align: center;}

  .staff {
    text-align: center;
  }

  /* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,247,247,0.5);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* specifies the stack order of an element */
  /* }

  .nav-li ul {
    list-style: none;
    overflow: hidden;
  }

  .nav-li li {
    display: inline;
    margin: 20px;
  }

  .nav-li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  nav {
    justify-content: space-between;
  }

  .footer-li ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
  }

  .footer-li li {
    display: inline;
    margin: 50px;
  }

  .footer-li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

}  */}

/* tablet horizontal size */
@media (orientation: landscape) {
  .review {
    grid-template-columns:1fr 1fr;
    text-align: center;
  }

}
  /*  */

  /* .footer-li ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.footer-li li {
    display: inline;
    margin: 50px;
}

.footer-li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
}




.footer {
  text-align: center;
  background-color: #fff7f7;
}

.footer-li ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
}

.footer-li li {
  display: inline;
  margin: 10px;
}

.footer-li a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
} */

