* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #AD4F4D;
}

/* ------------------------ For Mobile ------------------------ */
/* --------------- NAV ---------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,247,247,0.5);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-li ul {
    list-style: none;
    overflow: hidden;
}

.nav-li li {
    display: inline;
    margin: 20px;
}

.nav-li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}


/* --------------- top (MAIN) ---------------*/
#top {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/* --------------- h1 (MAIN/section) ---------------*/
h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 20px auto;
}

/* --------------- skincare (main/section) ---------------*/
.skincare {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
    margin: 50px auto;
    width: 90%;
}

.skincare img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------- lipsticks (MAIN/section) ---------------*/
.lipsticks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    margin: 50px auto;
    width: 90%;
}

.lipsticks img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------- FOOTER ----------------*/
footer {
    text-align: center;
    background-color: #fff7f7;
}

.footer-li ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
}

.footer-li li {
    display: inline;
    margin: 10px;
}

.footer-li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}








/* ------------------------ For Tablet ------------------------ */
@media (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #top {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .skincare {
        display: grid;
        grid-template-columns: repeat(3, 1.5fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 10px;
        margin: 50px auto;
        width: 80%;
    }

    .skincare img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .skin1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .skin2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .skin3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .skin4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .skin5 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .skin6 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .lipsticks {
        display: grid;
        grid-template-columns: repeat(2, 1.5fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px;
        margin: 50px auto;
        width: 80%;
    }
    
    .lipsticks img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .lip1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .lip4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3 ;
    }
    
    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    
    .footer-li li {
        display: inline;
        margin: 50px;
    }
    
    .footer-li a{
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
}









/* ------------------------ For Desktop ------------------------ */
@media (min-width: 800px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #top {
        height: 450px;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .skincare {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 10px;
        margin: 50px auto;
        width: 70%;
    }

    .skin1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .skin2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .skin3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .skin4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .skin5 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .skin6 {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .skin-item img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .lipsticks {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        margin: 50px auto;
        width: 70%;
    }

    .lip1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .lip4 {
        grid-column: 3 / 4;
        grid-row: 1 / 3 ;
    }

    .lip-item img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    
    .footer-li li {
        display: inline;
        margin: 50px;
    }
    
    .footer-li a{
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
}
